body {
    background-color: #929292;;
    font-family: Calibri;
}
header {
    color: #000000;
    background-color: rgb(255, 218, 246);
    box-shadow:1px 7px 10px rgba(0, 0, 0, 0.81);
    font-size:40px;
    padding:10px 23px;
}

textarea{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 2;
    border: 0;
    box-shadow:0 7px 10px rgba(0, 0, 0, 0.51);
    font-size: 23px;
    width: 250px;
    height: 100px;
    resize: none;
    vertical-align: top;
}
img{
    filter: drop-shadow(0 5px 5px rgb(0, 0, 0));
}
div{
    display:inline-block;
    background-color: #7cf99a;
    box-shadow:0 7px 10px rgba(0, 0, 0, 0.81);
    outline: 10px solid rgba(110, 61, 60, 0.62);
    outline-offset: -10px;
    margin:10px;
}
main{
    background-color: rgba(181, 158, 135, 0.65);
    box-shadow:0 7px 10px rgba(0, 0, 0, 0.81);
}